*{
    padding: 0%;
    margin: 0%;
}




nav{
    background-color: rgba(255,123,172.948);
    width:100%;
    height: 80px;
}


ul{
    list-style: none;
    cursor: pointer;
    float: right;
    padding-right: 40px;
    padding: 15px;
    align-items: center;
    
    
}
.line{
    margin-top: 5px;
    height: 10px;
    width: 45px;
    background: rgb(255, 255, 255);
    border-radius: 20px; 
    transition: 1s;
    position: relative;
    margin-right:30px;

}
.a1{
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    margin: 20px;
    margin-left: 30px;

}
.b0{
    background-color: grey;
    width: 100%;
    height: 1180px;
    

}
.b1{
 padding-top: 260px;
 padding-left: 400px;
 

}
.b2{
    background-color:rgba(255, 255, 255, 0.695);
    width: 480px;
    height: 390px;
    padding-left: 20px;
    padding-top: 20px;
    margin-left: 900px;
    margin-top: -200px;
    position: absolute;
        
}

.c0{
    background-color: #ff4a95;
    width: 100%;
    height: 1600px;
}

.c2{
    background-color: rgba(255, 255, 255, 0.873);
    width: 450px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 5px  rgba(0, 0, 0, 0.6);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.c1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
    
}

img{
    width: 100px;
    height: auto;
    border-radius: 100px;

    
}
h2{
    color: rgb(238, 0, 91);
    flex-wrap: wrap;
    text-align: center;
}
.d0 h1{
    font-size: 40pt;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 250px;
    padding: 30px;
    
}
.d0 p{
    color: white;
    font-size: 18pt;
    padding-left: 30px;
    display: flex;
    margin-top: 30px;

}
.d0 button{
    background-color: #f2edefd8;
    color: rgb(227, 32, 152);
    text-align: center;
    font-size: 20pt;
    height: 60px;
    width: 250px;
    border: none;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.e0{
    width: 100%;
    height: 950px;
    background-color: grey;
    position: relative;
    align-items: center;
    flex-direction: column;
    
    
}
.e4 {
    margin-left: 100px;
    margin-top: 10%;
    width: 600px;
    height: 500px;
    padding: 20px;
  
    
    
}
.e1{
    margin-left: 190px;
    color: rgba(0, 0, 0, 0.812);
    font-weight:bold;
    font-size: 20px;
}

.e2{
    width:650px;
    height:580px;
    background-color: rgba(248, 99, 176, 0.805);
    color: antiquewhite;
    float: right;
    position: absolute;
    top: 15%;
    left: 39%;
    margin-left: 200px;
    padding: 20px;
    margin-right: 50px;
    border-radius: 10px;
    
    
    
    
}
.e2 h1{
    color:rgb(6, 0, 3);
    text-align: center;
    padding-top: 20px;
}
.e2 p{
    text-align: center;
    padding: 20px;
    line-height: 25px;
    text-align: justify;
    text-indent: 30px;
    letter-spacing: 1px;
    
}
.e2 button{
    margin-top: 10px;
    border: none;
    background-color: grey;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 40px;
    margin-left: 150px;
    border-radius: 8px;
    font-weight: bold   ;
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    
    
}